@font-face {
  font-family: myFirstFont;
  src: url(./../Sandbox\ Melodrama.ttf);
}

body {
  font-family: myFirstFont;
  color: white;
  background-image: url("../images/background1.png");
  background-size: 250px 250px;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(24, 24, 24);
  background: radial-gradient(
    circle,
    rgba(24, 24, 24, 0) 0%,
    rgba(0, 0, 0, 0.6559217436974789) 100%
  );
  z-index: 40;
}

header {
  text-align: center;
  font-size: xx-large;
}
.image1 {
  height: 100px;
  width: 100px;
}
.image2 {
  height: 140px;
  width: 140px;
  margin: 6px 15px;
  border-style: inset;
  border-width: 5px;
  border-color: rgb(202, 202, 190);
}
#explaination {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}
#totalgame {
  transition-duration: 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 730px;
  padding-top: 10px;
  padding-bottom: 0px;
  /* margin: auto auto; */
  background-color: rgb(250, 244, 232);
  border-style: solid;
  border-width: 20px;
  border-color: rgb(66, 122, 64);
  border-radius: 50px;
  z-index: 60;
}
.win {
  transition-duration: 1s;
  -webkit-box-shadow: 0px 0px 89px 15px rgba(24, 255, 3, 0.59);
  -moz-box-shadow: 0px 0px 89px 15px rgba(24, 255, 3, 0.59);
  box-shadow: 0px 0px 89px 15px rgba(24, 255, 3, 0.59);
}
.loss {
  transition-duration: 1s;
  -webkit-box-shadow: 0px 0px 89px 15px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 89px 15px rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 89px 15px rgba(255, 0, 0, 1);
}
.tie {
  transition-duration: 1s;
  -webkit-box-shadow: 0px 0px 89px 15px rgba(255, 255, 0, 1);
  -moz-box-shadow: 0px 0px 89px 15px rgba(255, 255, 0, 1);
  box-shadow: 0px 0px 89px 15px rgba(255, 255, 0, 1);
}
.dropdownbutton {
  height: 35px;
  width: 35px;
  border-style: outset;
  border-width: 5px;
  border-color: rgb(240, 240, 228);
  position: relative;
  top: 7px;
}
#lowerbox {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: 300px 250px 250px;
  grid-template-rows: 220px 180px;
  grid-column-gap: auto;
  grid-row-gap: 20px;
}
#title {
  height: 40px;
  z-index: 1;
  width: 200px;
  background: rgb(250, 244, 232);
  font-size: 50px;
}
#navigatorspace {
  height: 40px;
  z-index: 1;
  width: 70px;
  float: right;
  position: relative;
  bottom: 40px;
  background: rgb(250, 244, 232);
}
#navbar {
  height: 40px;
  width: 100%;
  background: rgb(202, 202, 190);
  z-index: 2;
}
#navbar2 {
  height: 10px;
  width: 100%;
  background: rgb(156, 156, 148);
}

#navbar3 {
  height: 20px;
  width: 100%;
  background: rgb(250, 244, 232);
}
#statsbox {
  margin: 20px;
  background-color: rgb(202, 202, 190);
  border-style: inset;
  border-width: 10px;
  border-color: rgb(240, 240, 228);
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.yourScore {
  height: 200px;
  width: 120px;
  border: solid 10px rgb(66, 122, 64);
  border-width: 10px 10px 0 0;
  border-radius: 0 30px 0 30px;
  background-color: grey;
  background-image: url("https://i.imgur.com/XvCYR7J.jpg");
}
.theirScore {
  height: 200px;

  width: 120px;
  border: solid 10px rgb(66, 122, 64);
  border-width: 10px 0 0 10px;
  border-radius: 30px 0 30px 0;
  background-image: url("https://i.imgur.com/XvCYR7J.jpg");
}
.bottomdiv {
  display: flex;
  justify-content: space-between;
}
.settingstotaldiv {
  display: none;
  position: fixed;
  width: calc(50% - 40px);
  right: 0px;
  top: 0px;
  /* border: solid 2px black; */
  z-index: 100;
  font-size: 4em;
  padding: 100px 20px 0px 20px;
}
#results {
  margin: 2px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-image: url("https://i.imgur.com/XvCYR7J.jpg");
  border-style: inset;
  border-width: 10px;
  border-color: rgb(240, 240, 228);
  width: 435px;
  height: 160px;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
}
.numberbutton {
  width: 50px;
  height: 50px;
  border: outset 4px rgba(255, 255, 255, 0.753);
  background-color: rgba(255, 255, 255, 0.753);
  font-family: myFirstFont;
  font-size: 0.5em;
  padding-top: -10px;
  color: black;
  /* border: none; */
  outline: none;
}
.numberbutton:hover {
  border: outset 4px rgba(165, 165, 165, 0.753);
  background-color: rgba(165, 165, 165, 0.753);
}

.number1 {
  border-radius: 8px 0 0 0;
}
.number3 {
  border-radius: 0 8px 0 0;
}
.number0 {
  border-radius: 0 0 0 8px;
}
.numberrow {
  width: 150px;
  justify-content: space-around;
  display: flex;
}
.submitpin {
  width: 100px;
  height: 50px;
  border: outset 4px rgba(255, 255, 255, 0.753);
  background-color: rgba(255, 255, 255, 0.753);
  font-family: myFirstFont;
  font-size: 0.5em;
  padding-top: -10px;
  color: black;
  border-radius: 0 0 8px 0;
}
.submitText {
  width: 100px;
  height: 45px;
  border: solid 4px rgba(255, 255, 255, 0.753);
  background-color: rgba(255, 255, 255, 0.753);
  font-family: myFirstFont;
  font-size: 0.5em;
  padding-top: -10px;
  color: black;
  border-radius: 20px;
  margin: 0 20px 0 20px;
  outline: none;
}
.submitText:hover {
  border: solid 4px rgba(165, 165, 165, 0.753);
  background-color: rgba(165, 165, 165, 0.753);
}
.submitpin:hover {
  border: outset 4px rgba(165, 165, 165, 0.753);
  background-color: rgba(165, 165, 165, 0.753);
}
.directionheader {
  min-height: 10px;
  color: white;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  line-height: 50px;
  height: 35px;
  transition: 1s;
}
.directionheader:hover {
  color: black;
}
.instructions {
  font-size: 0.5em;
  color: white;
  height: 10px;
  margin: 10px;
}
.pinInput {
  min-height: 10px;
  /* padding: -10px; */
  width: 170px;
  height: 35px;
  font-size: 0.5em;
  font-family: myFirstFont;
  color: black;
  outline: none;
  border: solid 4px rgba(255, 255, 255, 0.753);
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 20px;
  display: block;
  margin: 25px auto;
  margin-bottom: 10px;
  /* padding: -10px 10px -10px 10px; */
  text-align: center;
}
.avatarchoice {
  width: 105px;
  margin: 5px auto;
  display: block;
}
.avatarchoice2 {
  height: 105px;
  width: 105px;
  margin: 10px;
}
.avatarchoice3 {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 35px;
}
#secondStageCreate {
  display: none;
}
#findgamemain {
  display: block;
}
#firstStageCreate {
  display: none;
}
#logout {
  display: none;
}
.textinput {
  min-height: 10px;
  margin: 0;
  /* padding: -10px; */
  width: 400px;
  height: 35px;
  font-size: 0.5em;
  font-family: myFirstFont;
  color: black;
  outline: none;
  border: solid 4px rgba(255, 255, 255, 0.753);
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 20px;
  /* padding: -10px 10px -10px 10px; */
  text-align: center;
  line-height: 50px;
}
.textinput:hover {
  border: solid 4px rgba(165, 165, 165, 0.753);
  background-color: rgba(165, 165, 165, 0.753);
}
#createuserPIN {
  display: none;
  width: 400px;
}
#logInMain {
  display: none;
}
#LoginPIN {
  display: none;
  width: 400px;
}
.finderusers {
  margin-top: 20px;
  width: 400px;
  height: 290px;
  border-radius: 30px;
  border-color: white;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  background: rgb(24, 24, 24);
  background: rgb(24, 24, 24);
  background: linear-gradient(
    347deg,
    rgba(24, 24, 24, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}
#searchUserbar {
  width: 380px;
  height: 40px;
  display: block;
  margin: 15px auto;
  text-align: center;
  background-color: rgb(156, 156, 148, 0);
  border-radius: 20px;
  border: solid 2px black;
  font-size: 0.6em;
  color: black;
  outline: none;
  font-family: myFirstFont;
}
.usersBox {
  width: 380px;
  height: 200px;
  border-radius: 20px;
  border: solid 2px rgb(24, 24, 24);
  margin: 0px auto;
  overflow: hidden;
}

.usersBox2 {
  width: 370px;
  height: 180px;
  /* border-radius: 20px; */
  margin: 10px auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.avartarPlaceHolder {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 35px;
  background-color: rgba(255, 0, 0, 1);
  margin: 5px;
}
.individualUser {
  display: flex;
  width: 340px;
  height: 60px;
  /* font-size: 0.5em; */
  border-radius: 40px 15px 15px 40px;
  border: solid 4px white;
  margin: 5px auto;
  justify-content: space-between;
  background-image: url("https://i.imgur.com/XvCYR7J.jpg");
  /* background: rgb(24, 24, 24);
  background: linear-gradient(
    173deg,
    rgba(24, 24, 24, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  ); */
}
.userNameFindGame {
  font-size: 0.6em;
  width: 180px;
}
.requestbutton {
  display: flex;
  font-size: 0.3em;
  width: 45px;
  height: 35px;
  border: solid 3px white;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    173deg,
    rgba(24, 24, 24, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.usersBox2::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
.usersBox2::-webkit-scrollbar-track {
  /* color of the tracking area */
  background-color: rgba(0, 0, 255, 0);
}
.usersBox2::-webkit-scrollbar-thumb {
  height: 20%;
  background-color: white; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}
.usersBox::-webkit-scrollbar-button:end:increment {
  height: 50%;
  margin-top: 100px;
  display: block;
  background: transparent;
}
.requestbutton:hover {
  border-color: black;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    173deg,
    rgba(24, 24, 24, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.numberbuttoncontainer {
  height: 200px;
  width: 150px;
  /* justify-content: space-around; */
  border: solid 8px white;
  border-radius: 16px;
  margin: 0 auto;
}
#leftside {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.winsandlosses {
  text-decoration: underline;
  font-size: 1.5em;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 0;
  height: 15px;
}
#settings {
  transition-duration: 1s;
  position: fixed;
  z-index: 200;
  top: 50px;
  right: 50px;
  color: rgb(36, 71, 35);
  font-size: 4em;
  /* text-shadow: black; */
}
.avatarchoicebox {
  margin-top: 30px;
  background-image: url("https://i.imgur.com/XvCYR7J.jpg");
  width: 400px;
  height: 260px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid 6px white;
  border-radius: 60px;
}
.rightsidemodule {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg);
}
.scoresection {
  margin-top: 0px;
  display: flex;
  height: 60px;
}
.playername {
  font-size: 1.2em;
  text-align: center;
}
.scorenumber {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  font-size: 3em;
  margin-left: 10px;
}
#status {
  justify-content: center;
  margin: 20px;
  margin-top: 10px;
  background-color: rgb(202, 202, 190);
  border-style: inset;
  border-width: 10px;
  border-color: rgb(240, 240, 228);
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  font-size: 50px;
  text-align: center;
  padding-top: 25px;
}
.imagecontainer {
  width: 1100px;
  height: 600px;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 110px);
  transform: translate(-50%, -50%);
  z-index: 10;
}
/* media query for width on a cell phone */
.lizard {
  height: 300px;
  position: absolute;
  top: 0px;
  left: 680px;
  z-index: 10;
  -webkit-animation: orbit3 60s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: orbit3 60s linear infinite; /* Firefox 5-15 */
  -o-animation: orbit3 60s linear infinite; /* Opera 12+ */
  animation: orbit3 60s linear infinite;
}
.avatarshadowbox {
  position: absolute;
  width: 400px;
  height: 260px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: solid 6px white; */
}
.avatarshadow {
  height: 105px;
  width: 105px;
  margin: 10px;
  border-radius: 55px;
}
.avatarshadow:hover {
  height: 105px;
  width: 105px;
  margin: 10px;
  border-radius: 55px;
  -webkit-box-shadow: 0px 0px 76px 7px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 76px 7px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 76px 7px rgba(255, 255, 255, 0.75);
}

/* .testsquare {
  background-color: blueviolet;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 30;

} */
.lizardshadow {
  height: 300px;
  position: absolute;
  top: 15px;
  left: 695px;
  opacity: 50%;
  -webkit-animation: orbit3 60s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: orbit3 60s linear infinite; /* Firefox 5-15 */
  -o-animation: orbit3 60s linear infinite; /* Opera 12+ */
  animation: orbit3 60s linear infinite;
}
.scissors {
  height: 300px;
  position: absolute;
  top: 260px;
  left: 1100px;
  z-index: 10;
  -webkit-animation: orbit5 60s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: orbit5 60s linear infinite; /* Firefox 5-15 */
  -o-animation: orbit5 60s linear infinite; /* Opera 12+ */
  animation: orbit5 60s linear infinite;
}
.scissorshadow {
  height: 300px;
  position: absolute;
  top: 275px;
  left: 1115px;
  opacity: 50%;
  -webkit-animation: orbit5 60s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: orbit5 60s linear infinite; /* Firefox 5-15 */
  -o-animation: orbit5 60s linear infinite; /* Opera 12+ */
  animation: orbit5 60s linear infinite;
}
.paper {
  height: 200px;
  position: absolute;
  top: 600px;
  left: 760px;
  z-index: 10;
  -webkit-animation: orbit4 60s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: orbit4 60s linear infinite; /* Firefox 5-15 */
  -o-animation: orbit4 60s linear infinite; /* Opera 12+ */
  animation: orbit4 60s linear infinite;
}
.papershadow {
  height: 200px;
  position: absolute;
  top: 615px;
  left: 775px;
  opacity: 50%;
  -webkit-animation: orbit4 60s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: orbit4 60s linear infinite; /* Firefox 5-15 */
  -o-animation: orbit4 60s linear infinite; /* Opera 12+ */
  animation: orbit4 60s linear infinite;
}
.rock {
  height: 200px;
  position: absolute;
  top: 600px;
  left: 80px;
  z-index: 10;
  -webkit-animation: orbit1 60s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: orbit1 60s linear infinite; /* Firefox 5-15 */
  -o-animation: orbit1 60s linear infinite; /* Opera 12+ */
  animation: orbit1 60s linear infinite;
}
.rockshadow {
  height: 200px;
  position: absolute;
  top: 615px;
  left: 95px;
  opacity: 50%;
  -webkit-animation: orbit1 60s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: orbit1 60s linear infinite; /* Firefox 5-15 */
  -o-animation: orbit1 60s linear infinite; /* Opera 12+ */
  animation: orbit1 60s linear infinite;
}
.spock {
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  transform: rotate(360deg);
  -webkit-animation: orbit2 60s infinite alternate; /* Chrome, Safari 5 */
  -moz-animation: orbit2 60s infinite alternate; /* Firefox 5-15 */
  -o-animation: orbit2 60s infinite alternate; /* Opera 12+ */
  animation: orbit2 60s linear infinite; /* Chrome, Firefox 16+, 
                                                     IE 10+, Safari 5 */
}
.spockshadow {
  height: 200px;
  position: absolute;

  left: 15px;
  top: 15px;
  opacity: 50%;
  transform: rotate(360deg);
  -webkit-animation: orbit2 60s infinite alternate; /* Chrome, Safari 5 */
  -moz-animation: orbit2 60s infinite alternate; /* Firefox 5-15 */
  -o-animation: orbit2 60s infinite alternate; /* Opera 12+ */
  animation: orbit2 60s linear infinite;
}
@-webkit-keyframes orbit2 {
  from {
    transform: translateX(0px) translatey(0px);
  }
  32.5% {
    transform: translatey(0px) translateX(1100px) rotate(585deg);
  }
  50% {
    transform: translatey(600px) translateX(1100px) rotate(270deg);
  }
  82.5% {
    transform: translateX(0px) translatey(600px) rotate(-315deg);
  }
  to {
    transform: translateX(0px) translatey(0px);
  }
}

@-moz-keyframes orbit2 {
  from {
    transform: translateX(0px) translatey(0px);
  }
  32.5% {
    transform: translatey(0px) translateX(1100px) rotate(585deg);
  }
  50% {
    transform: translatey(600px) translateX(1100px) rotate(270deg);
  }
  82.5% {
    transform: translateX(0px) translatey(600px) rotate(-315deg);
  }
  to {
    transform: translateX(0px) translatey(0px);
  }
}

@-o-keyframes orbit2 {
  from {
    transform: translateX(0px) translatey(0px);
  }
  32.5% {
    transform: translatey(0px) translateX(1100px) rotate(585deg);
  }
  50% {
    transform: translatey(600px) translateX(1100px) rotate(270deg);
  }
  82.5% {
    transform: translateX(0px) translatey(600px) rotate(-315deg);
  }
  to {
    transform: translateX(0px) translatey(0px);
  }
}

@keyframes orbit2 {
  from {
    transform: translateX(0px) translatey(0px);
  }
  32.5% {
    transform: translatey(0px) translateX(1100px) rotate(585deg);
  }
  50% {
    transform: translatey(600px) translateX(1100px) rotate(270deg);
  }
  82.5% {
    transform: translateX(0px) translatey(600px) rotate(-315deg);
  }
  to {
    transform: translateX(0px) translatey(0px);
  }
}
@-webkit-keyframes orbit1 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  2.3% {
    transform: translatey(0px) translateX(-80px) rotate(41deg);
  }
  19.8% {
    transform: translatey(-600px) translateX(-80px) rotate(-274deg);
  }
  52.3% {
    transform: translateY(-600px) translateX(1020px) rotate(-859deg);
  }
  69.8% {
    transform: translateY(0px) translateX(1020px) rotate(-544deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@-moz-keyframes orbit1 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  2.3% {
    transform: translatey(0px) translateX(-80px) rotate(41deg);
  }
  19.8% {
    transform: translatey(-600px) translateX(-80px) rotate(-274deg);
  }
  52.3% {
    transform: translateY(-600px) translateX(1020px) rotate(-859deg);
  }
  69.8% {
    transform: translateY(0px) translateX(1020px) rotate(-544deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@-o-keyframes orbit1 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  2.3% {
    transform: translatey(0px) translateX(-80px) rotate(41deg);
  }
  19.8% {
    transform: translatey(-600px) translateX(-80px) rotate(-274deg);
  }
  52.3% {
    transform: translateY(-600px) translateX(1020px) rotate(-859deg);
  }
  69.8% {
    transform: translateY(0px) translateX(1020px) rotate(-544deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@keyframes orbit1 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  2.3% {
    transform: translatey(0px) translateX(-80px) rotate(41deg);
  }
  19.8% {
    transform: translatey(-600px) translateX(-80px) rotate(-274deg);
  }
  52.3% {
    transform: translateY(-600px) translateX(1020px) rotate(-859deg);
  }
  69.8% {
    transform: translateY(0px) translateX(1020px) rotate(-544deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes orbit3 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  12.3% {
    transform: translatey(0px) translateX(420px) rotate(221deg);
  }
  29.8% {
    transform: translatey(600px) translateX(420px) rotate(-94deg);
  }
  62.3% {
    transform: translateX(-680px) translatey(600px) rotate(-679deg);
  }
  79.8% {
    transform: translateX(-680px) translatey(0px) rotate(-364deg);
  }
  to {
    transform: translatey(0px) translateX(0px) rotate(0deg);
  }
}

@-moz-keyframes orbit3 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  12.3% {
    transform: translatey(0px) translateX(420px) rotate(221deg);
  }
  29.8% {
    transform: translatey(600px) translateX(420px) rotate(-94deg);
  }
  62.3% {
    transform: translateX(-680px) translatey(600px) rotate(-679deg);
  }
  79.8% {
    transform: translateX(-680px) translatey(0px) rotate(-364deg);
  }
  to {
    transform: translatey(0px) translateX(0px) rotate(0deg);
  }
}

@-o-keyframes orbit3 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  12.3% {
    transform: translatey(0px) translateX(420px) rotate(221deg);
  }
  29.8% {
    transform: translatey(600px) translateX(420px) rotate(-94deg);
  }
  62.3% {
    transform: translateX(-680px) translatey(600px) rotate(-679deg);
  }
  79.8% {
    transform: translateX(-680px) translatey(0px) rotate(-364deg);
  }
  to {
    transform: translatey(0px) translateX(0px) rotate(0deg);
  }
}

@keyframes orbit3 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  12.3% {
    transform: translatey(0px) translateX(420px) rotate(221deg);
  }
  29.8% {
    transform: translatey(600px) translateX(420px) rotate(-94deg);
  }
  62.3% {
    transform: translateX(-680px) translatey(600px) rotate(-679deg);
  }
  79.8% {
    transform: translateX(-680px) translatey(0px) rotate(-364deg);
  }
  to {
    transform: translatey(0px) translateX(0px) rotate(0deg);
  }
}
@keyframes orbit5 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  12.3% {
    transform: translatey(340px) translateX(0px) rotate(180deg);
  }
  42.5% {
    transform: translatey(340px) translateX(-1100px) rotate(-405deg);
  }
  60.0% {
    transform: translateY(-260px) translateX(-1100px) rotate(-720deg);
  }
  92.5% {
    transform: translateY(-260px) translateX(0px) rotate(-135deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes orbit5 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  12.3% {
    transform: translatey(340px) translateX(0px) rotate(180deg);
  }
  42.5% {
    transform: translatey(340px) translateX(-1100px) rotate(-405deg);
  }
  60.0% {
    transform: translateY(-260px) translateX(-1100px) rotate(-720deg);
  }
  92.5% {
    transform: translateY(-260px) translateX(0px) rotate(-135deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@-moz-keyframes orbit5 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  12.3% {
    transform: translatey(340px) translateX(0px) rotate(180deg);
  }
  42.5% {
    transform: translatey(340px) translateX(-1100px) rotate(-405deg);
  }
  60.0% {
    transform: translateY(-260px) translateX(-1100px) rotate(-720deg);
  }
  92.5% {
    transform: translateY(-260px) translateX(0px) rotate(-135deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@-o-keyframes orbit5 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  12.3% {
    transform: translatey(340px) translateX(0px) rotate(180deg);
  }
  42.5% {
    transform: translatey(340px) translateX(-1100px) rotate(-405deg);
  }
  60.0% {
    transform: translateY(-260px) translateX(-1100px) rotate(-720deg);
  }
  92.5% {
    transform: translateY(-260px) translateX(0px) rotate(-135deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@keyframes orbit4 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  22.3% {
    transform: translatey(0px) translateX(-760px) rotate(401deg);
  }
  39.8% {
    transform: translatey(-600px) translateX(-760px) rotate(86deg);
  }
  72.3% {
    transform: translateY(-600px) translateX(340px) rotate(-499deg);
  }
  89.8% {
    transform: translateY(0px) translateX(340px) rotate(-184deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes orbit4 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  22.3% {
    transform: translatey(0px) translateX(-760px) rotate(401deg);
  }
  39.8% {
    transform: translatey(-600px) translateX(-760px) rotate(86deg);
  }
  72.3% {
    transform: translateY(-600px) translateX(340px) rotate(-499deg);
  }
  89.8% {
    transform: translateY(0px) translateX(340px) rotate(-184deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@-moz-keyframes orbit4 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  22.3% {
    transform: translatey(0px) translateX(-760px) rotate(401deg);
  }
  39.8% {
    transform: translatey(-600px) translateX(-760px) rotate(86deg);
  }
  72.3% {
    transform: translateY(-600px) translateX(340px) rotate(-499deg);
  }
  89.8% {
    transform: translateY(0px) translateX(340px) rotate(-184deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

@-o-keyframes orbit4 {
  from {
    transform: translatey(0px) translateX(0px);
  }
  22.3% {
    transform: translatey(0px) translateX(-760px) rotate(401deg);
  }
  39.8% {
    transform: translatey(-600px) translateX(-760px) rotate(86deg);
  }
  72.3% {
    transform: translateY(-600px) translateX(340px) rotate(-499deg);
  }
  89.8% {
    transform: translateY(0px) translateX(340px) rotate(-184deg);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
/* .elipsediv {
  animation: sidetoside 20s infinite alternate;
  position: absolute;
  top: 50%;
  left: 40%;
  height: 0;
  width: 0;
  z-index: 55;
}

@keyframes sidetoside {
  to {
    transform: translatey(-300px);
  } */
/* } */
.buttons {
  margin: 0 auto;
  background-color: rgb(202, 202, 190);
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  /* width: 725px; */
  max-width: 1000px;
  /* border-style: inset;
  border-width: 10px;
  border-color: rgb(240, 240, 228); */
  border-radius: 20px;
}
/* media query for margin: 0 auto when screen get bigger than the buttons */
/* .buttons btn {
  height: 100px;
  width: 100px;
  border-style: outset;
  border-width: 10px;
  border-color: rgb(240, 240, 228);
  margin: 10px;
  position: relative;
} */
/* 
.shadow {
  width: 100px;
  height: 15px;
  transform: skew(45deg);
  background: black;
  opacity: 40%;
  position: relative;
  bottom: 4px;
  left: 7.5px;
  z-index: 1;
}
.shadow1 {
  width: 0;
  height: 0;
  border-top: 15px solid black;
  border-left: 15px solid transparent;
  position: relative;
  bottom: 19px;
  left: 100px;
  opacity: 40%;
  z-index: 1;
}
.shadow2 {
  height: 85px;
  width: 15px;
  background: black;
  opacity: 40%;
  position: relative;
  bottom: 119px;
  left: 100px;
  z-index: 1;
}
.shadow3 {
  width: 0;
  height: 0;
  border-bottom: 15px solid black;
  border-right: 15px solid transparent;
  position: relative;
  bottom: 219px;
  left: 100px;
  opacity: 40%;
  z-index: 1;
} */

.imagewindow {
  height: 100px;
  width: 100px;
  overflow: hidden;
  transition-duration: 2s;
  border-style: outset;
  border-width: 10px;
  border-color: rgb(240, 240, 228);
  margin: 10px;
}

.shadowcontainer {
  top: 25px;
  right: -5px;
  width: 15px;
  position: absolute;
  overflow: hidden;
  height: 85px;
  text-align: left;
}

.shadowcontainer2 {
  top: 10px;
  right: -5px;
  width: 15px;
  position: absolute;
  overflow: hidden;
  height: 15px;
  text-align: right;
}

.shadowcontainer3 {
  width: 15px;
  right: -5px;
  top: 110px;
  position: absolute;
  overflow: hidden;
  height: 15px;
  text-align: right;
}

.shadowcontainer4 {
  width: 85px;
  position: absolute;
  overflow: hidden;
  height: 15px;
  text-align: right;
  right: 10px;
  top: 110px;
}

.shadowcontainer5 {
  width: 15px;
  position: absolute;
  overflow: hidden;
  height: 15px;
  text-align: right;
  right: 95px;
  top: 110px;
}

.shadowcontainer6 {
  width: 100px;
  position: absolute;
  overflow: hidden;
  height: 0px;
  text-align: right;
  right: 10px;
  top: 10px;
}

.shadowcontainer7 {
  width: 0px;
  position: absolute;
  overflow: hidden;
  height: 100px;
  text-align: right;
  right: 110px;
  top: 10px;
}

.shadowcontainer8 {
  width: 0px;
  position: absolute;
  overflow: hidden;
  height: 0px;
  text-align: right;
  right: 110px;
  top: 10px;
}

.box {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  background-color: black;
  background-position: right;
  opacity: 0.5;
}

.img {
  height: 7200px;
  width: 100px;
  background-size: 100px 1800px;
  background-repeat: repeat-y;
  background-image: url("https://i.imgur.com/BBCQZ6A.png");
}

.triangle {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(to right top, black 50%, transparent 50%);
  opacity: 0.5;
}

.triangle3 {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(to left bottom, black 50%, transparent 50%);
  opacity: 0.5;
}

.shadowsbox {
  position: relative;
  top: 10px;
  right: 10px;
}

.shadow4 {
  width: 5px;
  height: 95px;
  top: 15px;
  right: 105px;
  position: absolute;
  background: black;
  opacity: 40%;
  z-index: 1;
  display: none;
}

.shadow5 {
  width: 100px;
  height: 5px;
  top: 10px;
  right: 10px;
  position: absolute;
  background: black;
  opacity: 40%;
  z-index: 1;
  display: none;
}

#lizardimg {
  transition-duration: 4s;
  margin-top: -200px;
}
#rockimg {
  transition-duration: 2.8s;
  margin-top: -300px;
}
#paperimg {
  transition-duration: 3.2s;
  margin-top: -400px;
}
#spockimg {
  transition-duration: 4.4s;
  margin-top: -100px;
}
#scissorsimg {
  transition-duration: 3.6s;
  margin-top: 0px;
}
#scissors {
  /* position: relative; */
  /* border: solid 5px black; */
}
